*{
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
  }

  .mask1 {
    
    mask-image: url(bg.jpg);
    
    mask-repeat: no-repeat;    
  }

#Hero{
    position: absolute;
    top: 0;
    height: 600px;
    width: 100%;
    left: 0px;

    box-sizing: border-box;
    /*background-image: url(https://static-cse.canva.com/_next/static/assets/wave.2881x801.e3004027281d91aea8440556fa84fbfd.png);*/
    background-image: url(wave.webp);
    background-repeat: no-repeat;
    background-position: bottom;
    

}
#site-title{
    text-align: center;
    margin : 0;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-weight: 700;
    line-height: 1.5;
    font-size: 4.8rem;
    letter-spacing: -0.08rem;
    box-sizing: border-box;
  
}

.box{
    
    width : 550px;
    background: #00E0D4;
    z-index: 22;
    height: 600px;;
    
    padding : 40px;
    text-align: center;
    margin : auto;
    color: white;
    font-family: 'Century Gothic' , sans-serif;
    margin-top: 60px;
    border-radius: 15%;
}

.lonk{
  text-align: center;
    margin : 0;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-weight: 700;
    line-height: 1.5;
    font-size: 4.8rem;
    letter-spacing: -0.08rem;
    box-sizing: border-box;

}